<div class="flex justify-center">
  <%= live_component @socket, UntilMidnightWeb.UserLive.SettingsSidebarComponent,
    settings_path: @settings_path,
    pass_settings_path: @pass_settings_path,
    current_uri_path: @current_uri_path
  %>
  <div class="w-11/12 sm:w-8/12 md:w-6/12 lg:w-4/12 bg-primary-1 border border-primary-4 shadow-sm shadow-primary-4"></div>
</div>
